/* variables */
/* import */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap");
.loaderSpin {
  background: -webkit-linear-gradient(#FFFFFF, #99E2D0, #FF79DA, #9356DC);
  width: 100%;
  height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  -webkit-animation: loader 1s ease-in-out 3.5s forwards;
          animation: loader 1s ease-in-out 3.5s forwards;
  margin: 0;
  pointer-events: none;
}

.loader__fork {
  font-size: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  margin: -60px 0 0 -60px;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.imgHeader {
  width: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 0;
}

.imgHeader img {
  width: 100%;
  max-height: 60em;
  overflow: hidden;
}

.containerRestaurant {
  filter: opacity(100%);
  width: 100%;
  font-family: Roboto;
  background: #f0f0f0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(-5em);
}

.menuNom {
  padding: 10px;
  margin: 10px;
  padding-bottom: 30px;
}

.menuNom_g {
  font-family: Shrikhand;
  font-weight: 700;
  font-size: 22px;
  padding: 10px;
  float: left;
  line-height: 1em;
}

.menuNom_d {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  float: right;
}

.sectionMenu {
  text-align: left;
  font-family: Roboto;
  font-weight: 300;
  margin: 10px;
  text-transform: uppercase;
  padding: 20px;
}

.menu {
  text-align: left;
  padding: 0px;
  margin: 0px;
  justify-content: left;
  background-color: #f0f0f0;
}

.menu li {
  list-style: none;
  padding: 15px;
  padding-top: 0px;
  margin: 20px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #d8d5d5;
  border-radius: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* animations choix menu au clic */
}
.menu li:active .cross {
  opacity: 1;
  transform: translate(-40px);
}
.menu li:active .menu_prix {
  transform: translate(-50px);
  padding-left: 50px;
}
.menu li:active .menu_titre {
  transform: translate(-50px);
  padding-left: 50px;
}
.menu li:active .fa-check-circle {
  font-size: 24px;
  transform: rotate(360deg);
  transition: transform 450ms ease-in-out;
}

.menu_titre {
  font-weight: 700;
  display: flex;
}

.menu_titre > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_description {
  font-weight: 300;
  float: left;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.menu_prix {
  text-align: right;
  display: inline;
  float: right;
  font-weight: 700;
  transition: transform 330ms ease-in-out;
}

.cross {
  position: relative;
  right: -55px;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 85px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  transition: transform 600ms ease-in-out;
  float: right;
  background: #99E2D0;
  color: #ffffff;
}

.hr_sectionMenu {
  margin: 0px;
  padding: 0px;
  border-top: solid #99E2D0 2px;
  width: 40px;
}

.last__line {
  display: flex;
}

.sectionCommande {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
}

/* animations entree page menu */
.starter_entree {
  -webkit-animation: fadein 2s ease-in-out;
          animation: fadein 2s ease-in-out;
}

.starter_plat {
  -webkit-animation: fadein 5s ease-in-out;
          animation: fadein 5s ease-in-out;
}

.starter_dessert {
  -webkit-animation: fadein 7s ease-in-out;
          animation: fadein 7s ease-in-out;
}

/* animations coeur au clic */
.fill {
  cursor: pointer;
}
.fill:hover {
  -webkit-animation: fill 1s ease-in-out;
          animation: fill 1s ease-in-out;
  display: inline-block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  background: #f0f0f0;
  text-align: center;
}

#ContainerPrincipale {
  width: 100%;
  margin: auto;
}

/* header */
.hidden {
  display: none;
}

.headerLogo_g {
  display: table-cell;
  vertical-align: middle;
  float: left;
  color: black;
  font-size: 22px;
  text-align: left;
  line-height: 2.4em;
}

#headerLogo {
  color: black;
  font-family: Shrikhand;
  font-size: 38px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* localisation */
.localisation {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  background-color: #cfcece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.iconLocalisation {
  margin-right: 20px;
}

.textLocalisation {
  border: none;
  background: #cfcece;
}

.exploreRestaurant {
  color: #747272;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

/* explore resto */
.pGras {
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.btnLink {
  color: #ffffff;
  border-radius: 30px;
  height: 40px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  padding: 20px;
  text-decoration: none;
}

.btnLink:hover {
  box-shadow: 0px 5px 10px #707070;
  background: linear-gradient(to top left, #FF79DA, #9356DC);
  opacity: 0.8;
}

/* fonctionnement site */
.containerFonctionnement {
  width: 100%;
  font-family: Roboto;
}

.fonctionnement_Titre {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

#nav_fonctionnement {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

.nav_fonctionnementLi {
  width: 300px;
  height: 100px;
  list-style: none;
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #d8d5d5;
}

.nav_fonctionnementLi:active {
  background: #f2eafb;
}
.nav_fonctionnementLi:active:active .fa-mobile-alt {
  color: #9356DC;
}
.nav_fonctionnementLi:active:active .fa-list-ul {
  color: #9356DC;
}
.nav_fonctionnementLi:active:active .fa-store {
  color: #9356DC;
}

.link_fonctionnement {
  background: #f2eafb;
  text-decoration: none;
  color: #000000;
}

.link_fonctionnement:hover {
  text-decoration: none;
}

.nav_text {
  text-align: center;
  position: relative;
  top: 10px;
  font-size: 16px;
}

.nav_number {
  position: relative;
  top: 0px;
  left: 135px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  background-color: #9356DC;
  padding: 10px;
  margin: 0px;
  border-radius: 30px;
  text-align: center;
  text-indent: 0px;
}

.fa-mobile-alt {
  margin-left: 25px;
  margin-right: 25px;
  color: #747272;
}

.fa-list-ul {
  margin-left: 25px;
  margin-right: 25px;
  color: #747272;
}

.fa-store {
  margin-left: 25px;
  margin-right: 25px;
  color: #747272;
}

/* restaurants */
.link_page {
  text-decoration: none;
  color: #000000;
}

#nav_restaurant {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  background-color: #f0f0f0;
}

#nav_restaurant li {
  list-style: none;
  padding: 0px;
  margin: 20px;
}

.containerRestaurantIndex {
  width: 100%;
  font-family: Roboto;
}

.restaurant_Titre {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}

.restaurant_blockimg {
  height: 180px;
  width: 280px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.restaurant_blockimg img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  margin: 0px;
  padding: 0px;
}

.msgNews {
  position: relative;
  top: 15px;
  right: -100px;
  width: 140px;
  height: 20px;
  margin: 10px;
  padding: 5px;
  background: #99E2D0;
  color: #009463;
  font-weight: 700;
  font-size: 14px;
  z-index: 1;
}

.restaurant_blocktext {
  background: #ffffff;
  margin: 0px;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: solid transparent;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
}

.restaurant_blocktext_titre {
  width: 50%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.restaurant_blocktext_icone {
  position: relative;
  right: -15%;
}

.fa-heart {
  position: relative;
  right: -32%;
  color: #979797;
  font-weight: bold;
}

/* footer */
.footer {
  background: #1f1f1f;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer_logo {
  font-family: Shrikhand;
  font-size: 22px;
}

.footer_liens {
  font-family: Roboto;
}

.fa-utensils {
  margin-right: 15px;
}

.fa-hands-helping {
  margin-right: 8px;
}

/* mobile */
@media screen and (max-width: 400px) {
  .fonctionnement_Titre {
    text-align: left;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
  }

  .nav_fonctionnementLi {
    height: 50px;
    list-style: none;
    text-align: left;
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #d8d5d5;
  }

  .nav_fonctionnementLi:active {
    background: #f2eafb;
  }
  .nav_fonctionnementLi:active:active .fa-mobile-alt {
    color: #9356DC;
  }
  .nav_fonctionnementLi:active:active .fa-list-ul {
    color: #9356DC;
  }
  .nav_fonctionnementLi:active:active .fa-store {
    color: #9356DC;
  }

  .nav_number {
    position: relative;
    top: 10px;
    left: -25px;
    width: 10px;
    height: 10px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    background-color: #9356DC;
    padding-bottom: 12px;
    margin: 0px;
    border-radius: 50px;
    text-indent: 1px;
    z-index: 5;
  }

  .nav_text {
    text-align: center;
    position: relative;
    top: -30px;
  }

  .restaurant_blockimg {
    height: 180px;
    width: 280px;
  }
}/*# sourceMappingURL=styles.css.map */