.imgHeader{
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

.imgHeader img{
    width: 100%;
    max-height: 60em;
    overflow:hidden;
}

.containerRestaurant {
    filter: opacity(100%);
    width: 100%;
    font-family: $police2;
    background:#f0f0f0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(-5em);
}

.menuNom {
    padding: 10px;
    margin: 10px;
    padding-bottom: 30px;
}

.menuNom_g {
    font-family: $police1;
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
    float: left;
    line-height: 1em;
}

.menuNom_d {
    font-family: $police2;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    float: right;
}

.sectionMenu {
    text-align: left;
    font-family: $police2;
    font-weight: 300;
    margin: 10px;
    text-transform: uppercase;
    padding: 20px;
}

.menu {
    text-align: left;
    padding: 0px;
    margin: 0px;
    justify-content: left;
    background-color: #f0f0f0; 
}

.menu li{
    list-style: none;
    padding: 15px;
    padding-top: 0px;
    margin: 20px;
    height: 70px;
    background-color: #ffffff; 
    box-shadow: 0px 5px 10px #d8d5d5;
    border-radius: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
      /* animations choix menu au clic */ 

    &:active .cross {
        opacity: 1;
        transform: translate(-40px);
    }
    &:active .menu_prix {
        transform: translate(-50px);
        padding-left: 50px;
    }
    &:active .menu_titre {
        transform: translate(-50px);
        padding-left: 50px;
    }
    &:active .fa-check-circle {
        font-size: 24px;
        transform: rotate(360deg);
        transition: transform 450ms ease-in-out;
    }
}

.menu_titre {
    font-weight: 700;
    display: flex;
}

.menu_titre > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.menu_description {
    font-weight: 300;
    float: left;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.menu_prix {
    text-align: right;
    display: inline;
    float: right;
    font-weight: 700;
    transition: transform 330ms ease-in-out;
}

.cross {
    position:relative;
    right: -55px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 85px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    transition: transform 330ms ease-in-out;
    float: right;
    background: $color3;
    color: #ffffff;
  }

  .hr_sectionMenu {
      margin: 0px;
      padding: 0px;
      border-top:  solid $color3 2px;
      width: 40px;
  }

  .last__line {
    display: flex;
  }

  .sectionCommande {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
  }


  /* animations entree page menu */

  .starter_entree {
    animation: fadein 2s ease-in-out;
  }

  .starter_plat {
    animation: fadein 5s ease-in-out;
  }

  .starter_dessert {
    animation: fadein 7s ease-in-out;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
}


  /* animations coeur au clic */

.fill {
    color: black;
    cursor: pointer;
    &:active {
      animation: fill 0.7s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
      font-weight: bold;
    }
  }

  @keyframes fill {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }