/* variables */

$color1 : #9356DC; 
$color2 : #FF79DA;
$color3 : #99E2D0;

$police1 : Shrikhand;
$police2 : Roboto;

/* import */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap');
@import 'elements/loader';
@import 'elements/menu';

body {
    margin: 0;
    background:#f0f0f0;
    text-align: center;
}

#ContainerPrincipale {
    width: 100%;
    margin: auto;
} 

/* header */

.headerLogo_g {
    display: table-cell;
    vertical-align: middle;
    float: left;
    color: black;
    font-size: 22px;
    text-align: left;
    line-height: 2.4em;
}

#headerLogo {
    color: black;
    font-family: $police1;
    font-size: 38px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* localisation */

.localisation {
    color: #000000;
    font-family: $police2;
    font-size: 16px;
    font-weight: 300;
    background-color: #cfcece;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 15px;
    text-align: center;
}

.iconLocalisation {
    margin-right: 20px;
}

.textLocalisation {
    border: none;
    background: #cfcece;
}

.exploreRestaurant {
    color: #747272;
    font-family: $police2;
    font-size: 18px;
    font-weight: 300;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

/* explore resto */ 

.pGras {
    color: #000000;
    font-family: $police2;
    font-size: 24px;
    font-weight: 700;
}

.btnLink {
    color: #ffffff;
    border-radius: 30px;
    height: 40px;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(to top left, $color1, $color2);
    padding: 20px;
    text-decoration: none;
}

.btnLink:hover {
    box-shadow: 0px 5px 10px #707070;
    background: linear-gradient(to top left, $color2, $color1);
    opacity:0.8;
}

/* fonctionnement site */ 

.containerFonctionnement {
    width: 100%;
    font-family: $police2;
}

.fonctionnement_Titre {
    font-family: $police2;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

#nav_fonctionnement {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: center; 
}


#nav_fonctionnement li {
    width: 300px;
    height: 100px;
    list-style: none;
    text-align: center;
    color: #000000;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #d8d5d5;
}

.link_page {
    text-decoration: none;
    color: #000000;
}

.nav_text {
    text-align: center;
    position:relative;
    top: 10px;
    font-size: 16px;
}

.nav_number {
    position:relative;
    top: 0px;
    left: 135px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background-color: $color1;
    padding: 10px;
    margin: 0px;
    border-radius: 30px;
    text-align: center;
    text-indent: 0px;
}

.fa-mobile-alt {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}

.fa-list-ul {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}

.fa-store {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}


/* restaurants */ 

#nav_restaurant {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    background-color: #f0f0f0; 
}

#nav_restaurant li {
    list-style: none;
    padding: 0px;
    margin: 20px;
}

.containerRestaurantIndex {
    width: 100%;
    font-family: $police2;
}

.restaurant_Titre {
    font-family: $police2;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.restaurant_blockimg {
    height: 180px;
    width: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display:block;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
}

.restaurant_blockimg img {
    width:100%;
    height:100%;
    transform:scale(1.2);
    margin: 0px;
    padding: 0px;
}

.restaurant_blocktext {
    background: #ffffff;
    margin: 0px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid transparent;
    font-family: $police2;
    font-size: 18px;
    text-align: left;
}

.restaurant_blocktext_titre {
    width: 50%;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
}

.restaurant_blocktext_icone {
    position: relative;
    right: -15%;
}

.fa-heart {
    position: relative;
    right: -32%;
    color: #979797;
}

.fa-heart:hover {
    background:transparent;
    color:$color1;
}


/* footer */

.footer {
    background: #1f1f1f;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer_logo {
    font-family: $police1;
    font-size: 22px;
}

.footer_liens {
    font-family: $police2;
}

.fa-utensils {
    margin-right: 15px;
}

.fa-hands-helping {
    margin-right: 8px;
}


/* mobile */ 

@import 'mobile/mobileVersion';

/* tablette */ 


