@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap');


/* variables */

$backgroundColorWhite : #ffffff;

$color1 : #9356DC;
$color2 : #FF79DA;
$color3 : #99E2D0;

$police1 : Shrikhand;
$police2 : Roboto;

body {
    margin: 0;
    background-color: $backgroundColorWhite;
    text-align: center;
}

#ContainerPrincipale {
    width: 100%;
    margin: auto;
} 

/* header */

#headerLogo {
    color: black;
    font-family: $police1;
    font-size: 38px;
    background-color: $backgroundColorWhite;
    padding: 20px;
    text-align: center;
}

/* localisation */

.localisation {
    color: #000000;
    font-family: $police2;
    font-size: 16px;
    font-weight: 300;
    background-color: #cfcece;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding: 15px;
    text-align: center;
}

.iconLocalisation {
    margin-right: 20px;
}

.exploreRestaurant {
    color: #747272;
    font-family: $police2;
    font-size: 18px;
    font-weight: 300;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

/* explore resto */ 

.pGras {
    color: #000000;
    font-family: $police2;
    font-size: 24px;
    font-weight: 700;
}

.exploreRestaurant a {
    color: #ffffff;
    border-radius: 30px;
    height: 40px;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(to top left, $color1, $color2);
    padding: 20px;
    text-decoration: none;
}

.exploreRestaurant a:hover {
    background: linear-gradient(to top left, $color2, $color1);
}

/* fonctionnement site */ 

.containerFonctionnement {
    width: 100%;
    font-family: $police2;
}

.containerFonctionnement p {
    text-align: left;
}

#nav_fonctionnement {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: center; 
}

#nav_fonctionnement li {
    width: 300px;
    height: 200px;
    list-style: none;
    text-align: center;
    color: #000000;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #d8d5d5;
}

.nav_number {
    position:relative;
    top: 100px;
    left: 135px;
    width: 20px;
    height: 10px;
    text-align: center;
    color: #ffffff;
    font-family: $police2;
    font-size: 18px;
    font-weight: 700;
    background-color: $color1;
    padding: 10px;
    margin: 0px;
    border-radius: 30px;
    display: table-cell;
    vertical-align: middle;
}

.fa-mobile-alt {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}

.fa-list-ul {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}

.fa-store {
    margin-left: 25px;
    margin-right: 25px;
    color: #747272;
}

@import 'mobile/mobileVersion';
